
h1{
    color:brown;
}
/** this is id selectors**/
#heading{

    color: darkgoldenrod;
}

body{

    background-color: gray;
}

.cricket{

    width: 50%px;
    height: 200px;
}

.computer-games{

    width: 15%;
    height: 150px;
}

.football{

    width: 15%;
    height: 150px;
}
